[submodule "Raying/vendor/spdlog"]
	path = Raying/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Raying/vendor/GLFW"]
	path = Raying/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Raying/vendor/imgui"]
	path = Raying/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Raying/vendor/glm"]
	path = Raying/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Raying/vendor/yaml-cpp"]
	path = Raying/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
