[submodule "Raying/vendor/spdlog"]
	path = Raying/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Raying/vendor/GLFW"]
	path = Raying/vendor/GLFW
	url = https://github.com/TheCherno/glfw
